body {
    font-family: Arial;
    text-align: center;
    background: #f4f4f4;
}

button {
    padding: 10px 20px;
    margin: 10px;
    background: green;
    color: white;
    border: none;
    border-radius: 5px;
}

input {
    margin: 10px;
    padding: 8px;
}
